.gallery{
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 500px;
}

.item{
	flex: 1;
	height: 100%;
}

.item:nth-child(1) {
	background-image: url(https://vanh12345.github.io/duong.github.io/6.jpg);
}

.item:nth-child(2) {
	background-image: url(https://vanh12345.github.io/duong.github.io/7.jpg);
}

.item:nth-child(3) {
	background-image: url(https://vanh12345.github.io/duong.github.io/5.jpg);
}

.item:nth-child(4) {
	background-image: url(https://vanh12345.github.io/duong.github.io/10.jpg);
}

.item:nth-child(5) {
	background-image: url(https://vanh12345.github.io/duong.github.io/13.jpg);
}

.item{
	background-position: center;
	background-size: cover;
	transition: flex 0.8s ease;
}

.item:hover{
	flex: 5;
}
